<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common::commonHeader('智慧校园')">
</head>

<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header th:replace="common::backNav('info')"></header>

    <main class="px-3">

        <div th:if="${user!=null}">
            <br /><br /><br />
            <p class="lead">用户名：[[${user.username}]]</p>
            <p class="lead">年龄：[[${user.age}]]</p>
            <p class="lead">手机号：[[${user.phone}]]</p>
            <p class="lead">地址：[[${user.address}]]</p>
            <p class="lead">邮箱：[[${user.email}]]</p>
        </div>

    </main>

    <footer th:replace="common::commonFooter"></footer>
</div>

</body>
</html>
