<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common::commonHeader('智慧校园')">
</head>

  <body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header th:replace="common::indexNav('download')"></header>

      <main>
        <h1 class="cover-heading">作业下载</h1>
        <br />
        <div class="input-group mb-3">

          <form class="col-md-8 offset-md-2" action = "/download" method="GET">
            <div class="input-group">
              <input type="text" class="form-control" name="filename" placeholder="文件名" required autofocus>
              <input class="btn btn-primary" type="submit" value="下载"/>
            </div>
          </form>

          <br /><br />
          <div class="text text-center col-md-12 mb-3" th:if="${message}!='未找到文件：/Users/litmons/IdeaProjects/Exam01/src/main/resources/static/file/null'">
            <span style="color: forestgreen" th:text="${message}"/>
          </div>
        </div>

      </main>

      <footer th:replace="common::commonFooter"></footer>
    </div>

  </body>
</html>
