<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common::commonHeader('智慧校园')">
</head>

<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
	<header th:replace="common::indexNav('msgBoard')"></header>

	<main class="px-3">

		<div class="container">
			<div class="row text-white bg-dark col-md-8 offset-md-2">
				<h1 th:utext="${post.title}">标题</h1>
				<br />
				<h3 th:utext="${post.content}">title</h3>
				<p class="text" th:utext="${'发布于 ' + post.creationDate}">发布时间</p>
				<form th:method="GET" th:action="@{/msgBoard}">
					<button class="btn btn-primary" type="submit">返回</button>
				</form>
			</div>
		</div>

	</main>

	<footer th:replace="common::commonFooter"></footer>
</div>

</body>
</html>