<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common::commonHeader('智慧校园')">
</head>

<body class="d-flex h-100 text-center text-white bg-dark">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header th:replace="common::indexNav('stuQuery')"></header>

    <main class="px-3">

      <h1 class="cover-heading">查询学生信息</h1>
      <p class="lead">仅显示基本信息，不包含敏感信息</p>
      <form class="container" action = "/stuQueryResult" method="GET">
        <div class="col-md-4 offset-md-4">
          <div class="input-group">
            <input type="number" class="form-control btn-lg" name="id" placeholder="学号" required autofocus>
            <button type="submit" class="btn btn-lg btn-primary">提交</button>
          </div>
        </div>
      </form>
      <br /><br /><br />
      <p class="lead">ID：[[${user.id}]]</p>
      <p class="lead">姓名：[[${user.username}]]</p>
      <p class="lead">年龄：[[${user.age}]]</p>

    </main>

    <footer th:replace="common::commonFooter"></footer>
  </div>

</body>
</html>
