<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common::commonHeader('智慧校园')">
</head>

  <body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header th:replace="common::indexNav('upload')"></header>

      <main class="px-3">

        <form method="POST" th:action="@{/UPLOAD/uploadVul}" enctype="multipart/form-data">
          <input type="file" name="file" />
          <input type="submit" class="btn btn-sm btn-success" value="上传" />
        </form>

      </main>

      <footer th:replace="common::commonFooter"></footer>
    </div>

  </body>
</html>
